.cones{
  min-height: 90vh;
  width: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 425px) {
		min-height: 85vh;
	}
  h1{
    display: none;
  }
  .cones-wrapper{
    margin-bottom: 50px;
    margin-top: 70px;
    height: 90%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 20px;
    row-gap: 40px;
    .cones-card{
      box-shadow: 0 0 5px black;
      width: 19%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 2px 2px 2px;
			box-sizing: border-box;
      &:hover, &:focus {
				box-shadow: inset 0 0 10px black;
			}
			a{
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;
				h2{
          margin-bottom: 30px;
					font-size: 100%;
					height: 10%;
					text-align: center;
					@media screen and (max-width: 768px) {
						font-size: 65%;
					}
					@media screen and (max-width: 425px) {
						font-size: 50%;
					}
				}
				width: 100%;
				text-decoration: none;
				color: black;
				img {
					height: 65%;
					max-width: 100%;
				}
			}
    }
  }
}