.homePage-link-back{
	position: absolute;
	top: 60px;
	left: 50px;
	display: flex;
	align-items: center;
	gap: 5px;
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 22px;
	i{
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.box {
	min-height: 90vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	.box-wrapper {
		margin-bottom: 50px;
		margin-top: 70px;
		height: 90%;
		width: 90%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		column-gap: 20px;
		row-gap: 40px;
		.box-card {
			width: 35%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
      &.vertical{
        width: 20%;
      }
			img {
				height: 100%;
        max-width: 100%;
			}
		}
	}
}
